pandas==0.25.2
imageio==2.6.1
tensorflow==2.5.0
imgaug==0.3.0
numpy==1.17.3
matplotlib==3.1.1
scikit_image==0.16.2
PyYAML==5.3
scikit-learn==0.22.2.post1
scikit-image==0.16.2
streamlit==0.56.0
altair==4.0.1